* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.main {
  position: relative;
  width: 1440px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 899px;
  margin-left: 180px;
  margin-top: 40px;
}

.circle1 {
  height: 222px;
  width: 222px;
  background-color: #ffdc5f;
  top: -91px;
  left: -33px;
  position: absolute;
  border-radius: 50%;
}

.circle2 {
  height: 50px;
  width: 50px;
  background-color: #ffdc5f;
  top: 155px;
  left: 748px;
  position: absolute;
  border-radius: 50%;
}

.circle3 {
  height: 110px;
  width: 110px;
  background-color: #ffdc5f;
  top: 580px;
  left: 557px;
  position: absolute;
  border-radius: 50%;
}

.circle4 {
  height: 1032px;
  width: 1032px;
  background-color: #5956e9;
  top: -311px;
  left: 875px;
  position: absolute;
  border-radius: 50%;
}

.circle5 {
  height: 58px;
  width: 58px;
  background-color: #fab8c3;
  top: 431px;
  left: 49px;
  position: absolute;
  border-radius: 50%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .logo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 20px;
  padding-left: 25px;
}
.navigation .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-right: 100px;
}
.navigation .menu nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 30px;
}
.navigation .menu a {
  font-size: 16px;
  text-decoration: none;
  color: #252b42;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  background-color: #fab8c3;
  z-index: 1;
  margin-top: 3px;
  margin-right: 191px;
}
.btn a {
  text-decoration: none;
  font-size: 20px;
  color: #5956e9;
  font-weight: 700;
}

.text-image {
  display: flex;
}
.text-image .left {
  margin-top: 22px;
  margin-bottom: 22px;
  width: 55%;
  float: left;
}
.text-image .left h1 {
  margin-top: 85px;
  font-weight: 700;
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 0.2px;
}
.text-image .left p {
  width: 522px;
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
}
.text-image .left .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 204px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  background-color: #5956e9;
  z-index: 1;
  margin-top: 42px;
}
.text-image .left .btn a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.right {
  position: relative;
  margin-top: 22px;
  width: 45%;
  z-index: 1;
}
.right img {
  position: absolute;
  width: 100%;
  right: 180px;
}

#icons {
  display: none;
}

@media (max-width: 425px) {
  .main {
    width: 425px;
  }
  .main .hero {
    height: 1200px;
  }
  .main .circles .circle1,
.main .circles .circle2 {
    display: none;
  }
  .main .circles .circle4 {
    width: 540px;
    height: 540px;
    left: 111px;
    top: 700px;
  }
  .main .circles .circle3 {
    left: 110px;
    top: 1061px;
    z-index: 1;
  }
  .main .circles .circle5 {
    top: 675px;
  }
  .main .header {
    margin-left: 10px;
    margin-right: 10px;
  }
  .main ul,
.main .btn {
    display: none;
  }
  .main .menu {
    margin: 20px;
  }
  .main #icons {
    display: block;
    margin-top: 20px;
    padding: 20px;
  }
  .main .text-image {
    text-align: center;
  }
  .main .text-image .left {
    width: 100%;
  }
  .main .text-image .left h1 {
    margin-top: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 67px;
  }
  .main .text-image .left p {
    font-weight: 500;
    font-size: 24px;
    width: 326px;
    margin-left: 40px;
  }
  .main .text-image .left .btn {
    margin-left: 100px;
  }
  .main .text-image .right {
    width: 100%;
  }
  .main .text-image .right img {
    width: 475px;
    height: 475px;
    top: 545px;
    right: 10px;
  }
}
.discover_main {
  margin: auto;
  width: 1029px;
}
.discover_main h1 {
  text-align: center;
  font-size: 44px;
}
.discover_main .sect {
  display: flex;
  gap: 20px;
  width: 100%;
}
.discover_main .sect .sect_left {
  width: 45%;
  margin-top: 20px;
}
.discover_main .sect .sect_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-top: 180px;
  gap: 20px;
}
.discover_main .sect .sect_right h4 {
  font-size: 24px;
  color: #5956e9;
}
.discover_main .sect .sect_right h1 {
  font-size: 60px;
  line-height: 67px;
  text-align: left;
}
.discover_main .sect .sect_right p {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #868686;
}

@media (max-width: 425px) {
  .discover .discover_main {
    width: 414px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .discover .discover_main h1 {
    font-size: 34px;
  }
  .discover .discover_main .sect {
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
  }
  .discover .discover_main .sect .sect_right {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 76px;
  }
  .discover .discover_main .sect .sect_right h4 {
    font-size: 24px;
  }
  .discover .discover_main .sect .sect_right h1 {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .discover .discover_main .sect .sect_right p {
    line-height: 38px;
    width: 339px;
  }
  .discover .discover_main .sect .sect_left {
    width: 100%;
  }
}
.experience {
  width: 1440px;
  position: relative;
}
.experience .circles {
  position: absolute;
}
.experience .circles .pi1 {
  height: 63px;
  width: 63px;
  background-color: #fab8c3;
  top: 186px;
  left: 709px;
  position: absolute;
  border-radius: 50%;
}
.experience .circles .pi2 {
  height: 104px;
  width: 104px;
  background-color: #fab8c3;
  top: 637px;
  left: 486px;
  position: absolute;
  border-radius: 50%;
}
.experience .circles .purp1 {
  height: 87px;
  width: 87px;
  background-color: #5956e9;
  top: 0;
  left: 1058px;
  position: absolute;
  border-radius: 50%;
}
.experience .circles .purp2 {
  height: 31px;
  width: 31px;
  background-color: #5956e9;
  top: 218px;
  left: 1180px;
  position: absolute;
  border-radius: 50%;
}
.experience .rect1_main {
  width: 1048px;
  height: 741px;
  margin: auto;
  padding-top: 113px;
}
.experience .rect1_main .rect {
  display: flex;
  width: 1048px;
  height: 576px;
  background: linear-gradient(72.77deg, #edeef6 11.72%, rgba(237, 238, 246, 0) 98.52%);
  border-radius: 50px;
}
.experience .rect1_main .rect .rect_left {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 55px;
}
.experience .rect1_main .rect .rect_left h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 67px;
  width: 560px;
  margin-top: 161px;
  margin-bottom: 27px;
}
.experience .rect1_main .rect .rect_left p {
  font-size: 24px;
  line-height: 38px;
  width: 483px;
  color: #868686;
}
.experience .rect1_main .rect .rect_right {
  width: 40%;
}

@media (max-width: 425px) {
  .experience .rect1_main {
    width: 414px;
    margin-left: 10px;
    margin-right: 10px;
    background: none;
  }
  .experience .rect1_main .rect {
    flex-direction: column;
    background: none;
  }
  .experience .rect1_main .rect .rect_left {
    text-align: center;
    margin-left: 0px;
    align-items: center;
    width: 414px;
  }
  .experience .rect1_main .rect .rect_left h1 {
    font-size: 40px;
    line-height: 47px;
    width: 337px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .experience .rect1_main .rect .rect_left p {
    font-size: 24px;
    width: 297px;
  }
  .experience .rect1_main .rect .rect_right {
    margin-left: 29px;
    margin-top: 59px;
  }
}
.deals .sect2 {
  width: 1003px;
  margin: auto;
  margin-top: 197px;
  display: flex;
  gap: 45px;
}
.deals .sect2_left {
  width: 40%;
}
.deals .sect2_right {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.deals .sect2_right h4 {
  font-size: 24px;
  color: #5956e9;
  margin-top: 127px;
}
.deals .sect2_right h1 {
  font-size: 60px;
  line-height: 67px;
  margin-top: 17px;
}
.deals .sect2_right p {
  font-weight: 500;
  font-size: 24px;
  width: 480px;
  line-height: 38px;
  margin-top: 27px;
  color: #737373;
}

@media (max-width: 425px) {
  .deals .sect2 {
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
  }
  .deals .sect2 .sect2_right {
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 100px;
  }
  .deals .sect2 .sect2_right h4 {
    font-size: 24px;
  }
  .deals .sect2 .sect2_right h1 {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .deals .sect2 .sect2_right p {
    line-height: 38px;
    width: 339px;
  }
  .deals .sect2 .sect2_left {
    width: 100%;
    margin-left: -30px;
  }
}
.save {
  width: 1440px;
}
.save .rect_main {
  position: relative;
  width: 1155px;
  height: 718px;
  margin-left: 196px;
  padding-top: 113px;
}
.save .rect_main .rect2 {
  display: flex;
  width: 1048px;
  height: 509px;
  background: #fab8c5;
  border-radius: 50px;
  margin-top: 96px;
}
.save .rect_main .rect2 .rect2_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 115px;
  gap: 30px;
}
.save .rect_main .rect2 .rect2_left h1 {
  width: 407px;
  font-size: 40px;
  line-height: 57px;
  margin-top: 92px;
  color: #5956e9;
}
.save .rect_main .rect2 .rect2_left .btn {
  width: 314px;
  background-color: #5956e9;
}
.save .rect_main .rect2 .rect2_left .btn a {
  color: white;
}
.save .rect_main .rect2 .rect2_right {
  width: 50%;
  margin-top: -209px;
  margin-left: -200px;
}
.save .rect_main .rect2 .rect2_right .mobile {
  display: none;
}

@media (max-width: 425px) {
  .save .rect_main {
    width: 415px;
    height: 960px;
    margin-left: 10px;
    padding-top: 0;
    background: #fab8c5;
  }
  .save .rect_main .rect2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
  }
  .save .rect_main .rect2 .rect2_left {
    width: 100px;
    margin-left: 30px;
  }
  .save .rect_main .rect2 .rect2_left h1 {
    font-size: 40px;
    width: 337px;
    text-align: center;
  }
  .save .rect_main .rect2 .rect2_left .btn {
    display: none;
  }
  .save .rect_main .rect2 .rect2_right .desktop {
    display: none;
  }
  .save .rect_main .rect2 .rect2_right .mobile {
    display: block;
    margin-top: 130px;
    margin-left: 190px;
  }
}
.footer {
  width: 907px;
  height: 500px;
  margin-top: 29px;
  margin-left: 311px;
}
.footer .footer_main {
  width: 100%;
  height: 480px;
  display: flex;
}
.footer .footer_main .footer_left {
  width: 45%;
}
.footer .footer_main .footer_left h1 {
  width: 429px;
  font-size: 40px;
  line-height: 57px;
  padding-top: 122px;
}
.footer .footer_main .footer_right {
  position: relative;
  width: 55%;
  margin-top: 20px;
}
.footer .footer_main .footer_right .img2 {
  position: absolute;
  top: 269px;
}
.footer .footer_main .footer_right .img3 {
  top: 49px;
  position: absolute;
  left: 410px;
}
.footer .footer_main .footer_right .icons {
  position: absolute;
  top: 154px;
  left: 57.5px;
  display: flex;
  gap: 28.14px;
  rotate: 24degree;
  rotate: 15deg;
}
.footer .footer_main .footer_right .icons .youtube {
  rotate: -10deg;
}
.footer .bottom {
  text-align: center;
  padding-bottom: 38px;
  font: 15px;
}
.footer .bottom span {
  color: #868686;
}

@media (max-width: 425px) {
  .footer {
    margin-left: 0;
  }
  .footer .footer_main {
    margin-left: 10px;
    margin-top: 106px;
    flex-direction: column;
  }
  .footer .footer_main .footer_left {
    text-align: center;
  }
  .footer .bottom {
    width: 415px;
    margin-top: 350px;
  }
}
@media (max-width: 425px) {
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}/*# sourceMappingURL=main.css.map */